<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62106828676-64iotj48113t0ra1pk58g5dtn12li7o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62106828676-64iotj48113t0ra1pk58g5dtn12li7o8</string>
	<key>API_KEY</key>
	<string>AIzaSyDjKOGBjSUMRaYvnAK6bqAIauT2iO00mQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>62106828676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.technovert.massy-stores.dev</string>
	<key>PROJECT_ID</key>
	<string>massy-stores-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>massy-stores-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62106828676:ios:55786dd6b1ef79515b67d1</string>
</dict>
</plist>